The ‘No. delivered’ and the ‘Year(s) of deliveries’ columns refer to all deliveries since the beginning of the contract. The ‘Comments’ column includes publicly reported information on the value of the deal. Information on the sources and methods used in the collection of the data, and explanations of the conventions, abbreviations and acronyms, can be found at URL <http://www.sipri.org/contents/armstrad/sources-and-methods>.

2017-06-15 21:28:46

In [123]:
from pyth.plugins.rtf15.reader import Rtf15Reader
from pyth.plugins.xhtml.writer import XHTMLWriter

filename = '/Users/chengjun/bigdata/armTrade/Trade-Register-1950-2016.rtf'
doc = Rtf15Reader.read(open(filename, "rb"))
lines =  XHTMLWriter.write(doc, pretty=True).read()
lines = lines.split('</p>')
lines = [i.strip().replace('<p>', '').split('\t') for i in lines]
lines = [i for i in lines if i[0] != '']
lines = lines[7:]
lines = [[j.replace('<strong>', '').replace('</strong>', '').replace('R: ', '') for j in i] for i in lines]

In [124]:
for k, i in enumerate(lines[:20]):
    print k, '---->', i

0 ----> ['Algeria']
1 ----> ['Angola', '4', 'N-262 Fregate', 'Transport aircraft', '1980', '1980', '4', 'Second-hand; incl for MP']
2 ----> ['Nigeria', '(2)', 'Il-28', 'Bomber aircraft', '1967', '1968', '(2)', 'Second-hand']
3 ----> ['Angola']
4 ----> ['Congo', '1', 'Noratlas', 'Transport aircraft', '1979', '1979', '1', 'Second-hand; aid']
5 ----> ["Cote d'Ivoire", '(2)', 'BMP-2', 'IFV', '2002', '2002', '(2)', 'Second-hand; for use against fight rebels']
6 ----> ['2', 'T-55', 'Tank', '2002', '2002', '2', 'Second-hand; for use against rebels']
7 ----> ['Guinea-Bissau', '1', 'Do-27', 'Light aircraft', '1980', '1980', '1', 'Second-hand; status uncertain']
8 ----> ['United States', '250', 'FIM-92 Stinger', 'Portable SAM', '1992', '1992', '250', 'Second-hand; delivered in 1980s as aid to UNITA and bought back after peace agreement in Angola']
9 ----> ['Argentina']
10 ----> ['Bolivia', '(37)', 'M-3/M-5 Half-track', 'APC', '2006', '2006', '(37)', 'Second-hand; aid; M-5 and M-9 versions']
11 ----> ['Colombia', '3', 'IA-58A Pucara', 'Ground attack ac', '1989', '1990', '3', 'Second-hand; aid; for anti-narcotics operations']
12 ----> ['Denmark', '1', 'Lynx', 'ASW helicopter', '(1987)', '1987', '1', 'Second-hand; $3.5 m deal']
13 ----> ['3', 'Gem', 'Turboshaft', '1988', '1988', '3', 'Second-hand; spares for Lynx helicopters']
14 ----> ['Ecuador', '18', 'M-101A1 105mm', 'Towed gun', '(1995)', '1995', '18', 'Second-hand but modernized before delivery; part of illegal $34 m deal']
15 ----> ['Honduras', '(60)', 'MO-120-M65 120mm', 'Mortar', '(1980)', '1981-1983', '(60)']
16 ----> ['Paraguay', '3', 'CV-440', 'Transport aircraft', '1962', '1962', '3', 'Second-hand; $0.7 m deal; CV-440 version']
17 ----> ['3', 'Bouchard', 'OPV', '1964', '1964-1968', '3', 'Second-hand']
18 ----> ['1', 'G-21 Goose', 'Light transport ac', '(1966)', '1967', '1', 'Second-hand; aid']
19 ----> ['1', 'DHC-3 Otter', 'Light transport ac', '(1970)', '1972', '1', 'Second-hand; aid']

In [125]:
fromNode = ''
toNode = ''
alist = []
docs = []
for i in lines:
    if len(i) == 1:
        fromNode = i[0]
        toNode = ''
    elif len(i) == 8:
        toNode= i[0]
        alist.append(fromNode)
        for j in i:
            alist.append(j)
        docs.append(alist)
        alist = []
    else:
        alist.append(fromNode)
        alist.append(toNode)
        for j in i:
            alist.append(j)
        docs.append(alist)
        alist = []

In [126]:
len(docs)

25345

In [127]:
import pandas as pd

df = pd.DataFrame(docs, columns = ["Supplier", "recipient", "num_ordered", "designation", \
                                   "description", "year_order", "year_delivery", "num_delivery", "comments"])
df[:3]

,Supplier,recipient,num_ordered,designation,description,year_order,year_delivery,num_delivery,comments
0,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
1,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
2,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid

In [97]:
df.to_csv('/Users/chengjun/bigdata/armTrade/armTradeData.txt', index = False)

In [102]:
import pandas as pd

df = pd.read_csv('/Users/chengjun/bigdata/armTrade/armTradeData.txt')
df[:3]

,Supplier,recipient,num_ordered,designation,description,year_order,year_delivery,num_delivery,comments
0,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
1,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
2,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid

In [103]:
len(df)

25345

In [114]:
df[:20]

,Supplier,recipient,num_ordered,designation,description,year_order,year_delivery,num_delivery,comments
0,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
1,Algeria,Nigeria,(2),Il-28,Bomber aircraft,1967,1968,(2),Second-hand
2,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
3,Angola,Cote d'Ivoire,(2),BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels
4,Angola,Cote d'Ivoire,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
5,Angola,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
6,Angola,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
7,Argentina,Bolivia,(37),M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions
8,Argentina,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations
9,Argentina,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal
10,Argentina,Denmark,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters
11,Argentina,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...
12,Argentina,Ecuador,Honduras,(60),MO-120-M65 120mm,Mortar,(1980),1981-1983,(60)
13,Argentina,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version
14,Argentina,Paraguay,3,Bouchard,OPV,1964,1964-1968,3,Second-hand
15,Argentina,Paraguay,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid
16,Argentina,Paraguay,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid
17,Argentina,Paraguay,1,LSM,Landing ship,1972,1972,1,Ex-Argentinian; modernized before delivery
18,Argentina,Paraguay,10,T-6 Texan,Trainer aircraft,(1975),1976,10,Second-hand; aid
19,Argentina,Paraguay,1,DC-3/C-47 Skytrain,Transport aircraft,1979,1979,1,Second-hand; aid

In [146]:
#for i in range(len(df)):
data = []
for i in range(len(df)):
    supplier, recipient, num_ordered, designation, \
    description, year_order, year_delivery, num_delivery, comments   = df.iloc[i]
    num_ordered = num_ordered.replace('(', '').replace(')', '')
    try:
        a = int(num_ordered)
        data.append([supplier, recipient, num_ordered, designation, \
                     description, year_order, year_delivery, num_delivery, comments])
    except:
        data.append([supplier, num_ordered, designation, \
                     description, year_order, year_delivery, num_delivery, comments, None])

In [148]:
df = pd.DataFrame(data, columns = ["supplier", "recipient", "num_ordered", "designation", \
                                   "description", "year_order", "year_delivery", "num_delivery", "comments"])
df[:20]

,Supplier,recipient,num_ordered,designation,description,year_order,year_delivery,num_delivery,comments
0,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
1,Algeria,Nigeria,2,Il-28,Bomber aircraft,1967,1968,(2),Second-hand
2,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid
3,Angola,Cote d'Ivoire,2,BMP-2,IFV,2002,2002,(2),Second-hand; for use against fight rebels
4,Angola,Cote d'Ivoire,2,T-55,Tank,2002,2002,2,Second-hand; for use against rebels
5,Angola,Guinea-Bissau,1,Do-27,Light aircraft,1980,1980,1,Second-hand; status uncertain
6,Angola,United States,250,FIM-92 Stinger,Portable SAM,1992,1992,250,Second-hand; delivered in 1980s as aid to UNIT...
7,Argentina,Bolivia,37,M-3/M-5 Half-track,APC,2006,2006,(37),Second-hand; aid; M-5 and M-9 versions
8,Argentina,Colombia,3,IA-58A Pucara,Ground attack ac,1989,1990,3,Second-hand; aid; for anti-narcotics operations
9,Argentina,Denmark,1,Lynx,ASW helicopter,(1987),1987,1,Second-hand; $3.5 m deal
10,Argentina,Denmark,3,Gem,Turboshaft,1988,1988,3,Second-hand; spares for Lynx helicopters
11,Argentina,Ecuador,18,M-101A1 105mm,Towed gun,(1995),1995,18,Second-hand but modernized before delivery; pa...
12,Argentina,Honduras,60,MO-120-M65 120mm,Mortar,(1980),1981-1983,(60),Null
13,Argentina,Paraguay,3,CV-440,Transport aircraft,1962,1962,3,Second-hand; $0.7 m deal; CV-440 version
14,Argentina,Paraguay,3,Bouchard,OPV,1964,1964-1968,3,Second-hand
15,Argentina,Paraguay,1,G-21 Goose,Light transport ac,(1966),1967,1,Second-hand; aid
16,Argentina,Paraguay,1,DHC-3 Otter,Light transport ac,(1970),1972,1,Second-hand; aid
17,Argentina,Paraguay,1,LSM,Landing ship,1972,1972,1,Ex-Argentinian; modernized before delivery
18,Argentina,Paraguay,10,T-6 Texan,Trainer aircraft,(1975),1976,10,Second-hand; aid
19,Argentina,Paraguay,1,DC-3/C-47 Skytrain,Transport aircraft,1979,1979,1,Second-hand; aid

In [149]:
df.to_csv('/Users/chengjun/bigdata/armTrade/armTradeDataClean.txt', index = False)

# Read data

In [1]:
import pandas as pd

df = pd.read_csv('/Users/chengjun/bigdata/armTrade/armTradeDataClean.txt')
df[:3]

,Supplier,recipient,num_ordered,designation,description,year_order,year_delivery,num_delivery,comments
0,Algeria,Angola,4,N-262 Fregate,Transport aircraft,1980,1980,4,Second-hand; incl for MP
1,Algeria,Nigeria,2,Il-28,Bomber aircraft,1967,1968,(2),Second-hand
2,Angola,Congo,1,Noratlas,Transport aircraft,1979,1979,1,Second-hand; aid

In [2]:
df['Supplier'].replace(['Soviet Union'], 
    value='Russia',inplace=True)
df['recipient'].replace(['Soviet Union'], 
    value='Russia',inplace=True)

In [155]:
df[df['Supplier']=='Russia'][:5]

,Supplier,recipient,num_ordered,designation,description,year_order,year_delivery,num_delivery,comments
8736,Russia,Bulgaria,30,MT-LB,APC,(1970),1992,(30),Oordered from Soviet Union and produced under ...
8737,Russia,Bulgaria,125,9M113 Konkurs/AT-5,Anti-tank missile,(1985),1992-1996,(125),Incl for BMP-30 IFVs; ordered from Soviet Unio...
8738,Russia,China,105,Su-27S/Flanker-B,FGA aircraft,1996,1998-2007,(105),Part of $1.5-2.5 b deal for 200 but about 95 c...
8739,Russia,China,1000,Kh-31A1/AS-17,Anti-ship missile/ARM,(1997),2001-2016,(1000),Kh-31A and Kh-31P or Kh-31AMK and Kh-31PMK ver...
8740,Russia,China,1100,Krasnopol-M,Guided shell,(1997),1998-2002,(1100),Probably incl production in China as Red Soil;...

In [8]:
import numpy as np
num = np.array(df.num_ordered)

In [24]:
num = [i.replace('(', '').replace(')', '')  for i in num]

In [25]:
for k, i in enumerate(num):
    try:
        a = int(i)
    except:
        print k, i

95 Anti-ship missile
1209 Anti-tank missile
1211 Portable SAM
1349 MRL
1898 Guided rocket
2482 SAM system
2483 SAM
2485 ASW helicopter
2487 Transport helicopter
2489 Air/sea search radar
2491 Helicopter
2548 Mortar
3305 SAM system
4114 FAC
4437 Light transport ac
4701 Anti-ship MI/SSM
4797 Diesel engine
4863 IFV
4897 SRAAM
5692 Diesel engine
6396 Aircraft EO system
6397 Aircraft EO system
6448 Anti-tank missile
6658 Guided bomb
8635 Warmate
8779 Anti-tank missile
8782 Anti-tank missile
9895 Marauder
9897 APC
10082 LM-5
10128 Self-propelled gun
12273 Fire control radar
12383 Towed gun
12384 APC
12391 Towed gun
13010 Anti-tank missile
13797 Portable SAM
14157 AA gun
14158 Fire control radar
14425 Fire control radar
14541 APC
15005 Turbofan
15329 Air refuel system
16204 SAM
16469 BVRAAM
19466 Guided bomb
19906 Guided bomb

In [26]:
df[95:98]

,Supplier,recipient,num_ordered,designation,description,year_order,year_delivery,num_delivery,comments
95,Australia,Penguin-2,Anti-ship missile,2013,2014-2016,(30),Second-hand; Penguin-2 Mod-7 version for SH-2G...,Null,NaN
96,Australia,Oman,2,HSSV-72,Transport ship,2014,2016,2,AUD125 m deal
97,Australia,Pakistan,45,Mirage-3E,FGA aircraft,1990,1990-1991,(45),Second-hand; $28 m deal; Mirage-3OA version; i...